#canvas {
    display: flex;
    width: 40vw;
    height: 40vw;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 8px;
}

.gridBox {
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    background-color: rgb(152, 255, 203);
    gap: 120px;
}

.gridHover {
    --main-bg-color: black;
    background-color: var(--main-bg-color);
}

#btn {
    background-color: rgb(252, 146, 181);
    color: black;
    border-radius: 8px;
    width: 100px;
    height: 70px;
}